<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>QLBH</title>

</head>
<body>

<div class="container">

    <div style="text-align: center">
        <h2 style="margin: 20px">XÓA THỂ LOẠI</h2>
        <a style="font-size: 20px"> Bạn thực sự muốn xóa thể loại: <b style="color: red">{{itemCategory.nameCategory}}</b> chứ ?</a>
        <form action="" method="post" style="margin: 20px">
            <div style="margin:20px">
                <button type="submit"  style="border: 0px; border-radius: 5px; width: 200px; background: black">
                    <a style="font-weight: bold; color: yellow">Đồng Ý Xóa</a>
                </button>
            </div>
            <div>
                <button style="border: 0px; border-radius: 5px; width: 200px; background: blue">
                    <a style="font-weight: bold; color: white" class="btn btn_default" href="/category">Không xóa</a>
                </button>
            </div>
        </form>
    </div>

</div>

</body>
</html>