<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>QLBH</title>

</head>
<body>

<div class="container">

    <h2 style="text-align: center; margin: 25px">THÊM TÀI KHOẢN</h2>

    <form id="form-add-user" method="post">
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Tên tài khoản :</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="username_user" placeholder="Nhập tên tài khoản">
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Mật khẩu :</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" name="password_user" placeholder="Nhập mật khẩu">
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Email :</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" name="email_user" placeholder="Nhập email">
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <button id="btnSaveUser" type="submit" class="btn btn-primary">Thêm tài khoản</button>
            </div>
        </div>
    </form>

</div>

</body>
</html>