<div style="margin: 50px">
    <h1 style="margin-left: 20px">Login</h1>

    <form action="" method="post">
        <div style="margin: 20px;">
            Username: <input type="text" name="username_user">
        </div>
        <div style="margin: 20px">
            Password: <input type="password" name="password_user">
        </div>
        <div style="margin: 20px">
            <button type="submit" style="border: 0px; border-radius: 5px">
                Đăng nhập
            </button>
            <button type="" style="border: 0px; border-radius: 5px">
                <a href="/user/register">
                    Đăng kí
                </a>
            </button>
        </div>
    </form>
</div>