<div style="margin:50px">
    <h1 style="margin-left: 20px">Sign up</h1>

    <div style="margin: 20px">
        {{{msg}}}
    </div>

    <form action="" method="post">
        <div style="margin:20px">
            Username: <input type="text" name="username_user">
        </div>
        <div style="margin:20px">
            Password: <input type="password" name="password_user1">
        </div>
        <div style="margin:20px">
            Confirm password: <input type="password" name="password_user2">
        </div>
        <div style="margin:20px">
            Email: <input type="email" name="email_user">
        </div>
        <div style="margin:20px">
            <button type="submit">Đăng Kí</button>
        </div>
    </form>
</div>


