<div style="margin: 50px;">
    <button  style="border: 0px; border-radius: 5px; background: orange; width: 120px">
        <a href="/product/" style="color: white; text-decoration: none"><< Back</a>
    </button>
    <div id="content" style="margin-left: 30%">
        <h2 style="margin: 20px">THÔNG TIN CHI TIẾT</h2>
        <a style="font-size: 20px; margin: 20px">Tên sản phẩm: {{itemProduct.nameProduct}}</a> <br>
        <a style="font-size: 20px; margin: 20px">Giá thành: {{itemProduct.priceProduct}}</a> <br>
        <a style="font-size: 20px; margin: 20px">Thể loại: {{itemProduct.categoryProduct}}</a>
    </div>
</div>