<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>QLBH</title>

</head>
<body>

<div class="container">

    <h2 style="text-align: center; margin: 25px">SỬA THÔNG TIN SẢN PHẨM</h2>

    <form id="form-add-user" method="post">
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Tên sản phẩm :</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="product_name" value="{{itemProduct.nameProduct}}">
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Giá thành :</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" name="product_price" value="{{itemProduct.priceProduct}}">
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Thể loại :</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="product_category" value="{{itemProduct.categoryProduct}}">
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <button id="btnSaveUser" type="submit" class="btn btn-primary">Cập nhật</button>
            </div>
        </div>
    </form>

</div>

</body>
</html>